/* review.html specific styling, applied mainly to the contents inside main */

main {
    display: grid;
    height: 75dvh;
    max-height: 700px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

section img {
    width: 100px;
    margin: 1.5rem;
}

section p {
    font-size: 1rem;
    width: 90%;
}

section p .bold-text {
    font-weight: bolder;
}