/* Common styles shared between the form.html and review.html pages */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(45, 3, 43);
    --secondary-color: rgb(213, 205, 213);
    --font-primary-color: rgb(255, 255, 255);
    --font-option-hint-color: rgb(12, 24, 132);
    --light-grey: rgb(180, 180, 180);
    --light-border: 1px solid rgb(from var(--light-grey) r g b / .5);
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header,
footer {
    padding: 1rem;
    text-align: center;
    color: var(--font-primary-color);
    background-color: var(--primary-color);
}

main {
    margin: 1rem auto;
}